.home-wrapper-menus {
  display: grid;
  grid-template:
    "header" 100px
    "ribbon-1" auto
    "ribbon-2" auto
    "ribbon-3" auto
    "footer" 200px /
    1fr;

  height: auto;
  grid-gap: 30px;
  width: 100%;
  background-color: #004355;
}

.no-search span {
  font-size: 26px;
  color: #fff;
  font-weight: 900;
}

.home-ribbon-2 .no-search {
  display: grid;
  place-items: center;
  padding-top: 50px;
  height: auto;
}

.image-ribbon-3-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-gap: 5px;
  place-items: center;
  place-content: center;
  height: auto;
  padding-top: 30px;
  border-top: 3px solid #5ad2f3;
}

.genres-holder-span {
  display: grid;
  grid-template-columns: 60px 80px 60px 60px;
  place-items: center;
}

.genres-holder-span span {
  font-size: 12px;
  color: #7dd2f3;
}

.list-sort span:hover {
  color: #ee0000;
  -o-transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.list-latest li:hover {
  color: #ee0000;
  -o-transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.home-ribbon-3 {
  grid-area: ribbon-3;
  display: grid;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-gap: 20px;
}

.home-ribbon-2 {
  grid-area: ribbon-2;
  display: grid;
  grid-template-rows: 50px 0.1fr 0.1fr auto;
  grid-gap: 20px;
  height: auto;
}

.home-ribbon-2 h3 {
  display: grid;
  align-self: center;
  justify-self: center;
  justify-self: end;
  padding-right: 300px;
  font-size: 18px;
  color: #5ad2f3;
  padding-top: 50px;
}

.home-ribbon-2 ul.list-sort {
  display: grid;
  grid-template-columns: 150px 200px 150px;
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: end;
  padding-right: 50px;
  padding-bottom: 30px;
  border-bottom: 3px solid #5ad2f3;
}

ul.list-latest {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.list-sort span {
  font-size: 16px;
  color: #6466f2;
  font-weight: 700;
  cursor: pointer;
}

.movie-item .imdb-span {
  font-size: 14px;
  font-weight: 800;
  color: #5ad2f3;
  display: grid;
  place-items: center;
}

.movie-title {
  display: grid;
  place-items: center;
  width: 100%;
}

.movie-item-latest .imdb-span {
  font-size: 14px;
  font-weight: 800;
  color: #5ad2f3;
  display: grid;
  place-items: center;
}

.home-ribbon-2 ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.home-ribbon-3 ul li {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.image-ribbon-2-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-gap: 5px;
  place-items: center;
  height: auto;
  padding-top: 50px;
}

.home-ribbon-2 img {
  height: 350px;
  width: 250px;
  cursor: pointer;
}

.home-ribbon-3 img {
  height: 350px;
  width: 250px;
  cursor: pointer;
}

.image-ribbon-1-genre-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-gap: 5px;
  place-items: center;
  height: auto;
}

.genre-cateogory-image {
  height: 350px;
  width: 250px;
  cursor: pointer;
}

.movie-count-span {
  display: grid;
  place-self: center;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
