@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@font-face {
  font-family: "Libre Baskerville";
  src: url("./assets/fonts/LibreBaskerville-Regular.ttf");
  font-display: swap;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.loading-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  z-index: 1;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 1s;
  color: #111111;
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}
