.genre-wrapper-menus {
    display: grid;
    grid-template:
        "header" 100px
        "genre-ribbon-1" auto
        "footer" 100px /
        1fr;
    height: auto;
    grid-gap: 60px;
    width: 100%;
    background-color: #004355;
}

.genre-ribbon-1 ul li {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.genre-ribbon-1 {
    grid-area: genre-ribbon-1;
    display: grid;
    grid-template-rows: 100px 0.9fr 0.1fr;
    height: auto;
    grid-gap: 20px;
}

.image-ribbon-1-genre-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-gap: 5px;
    place-items: center;
    height: auto;
}

.movie-count-span {
    display: grid;
    place-self: center;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
}
